* {
    background-color: #ffe1e1
}

#TitulodaPagina {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px 0px;
}

fieldset {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    width: 75%;
    margin: 0px auto;
    border-radius: 40px;
    color: #84432d;
    border-width: 3px;

}

#Endereco {
    margin: 5px;
    width: auto;
    border-style: dashed;
}

input {
    padding: 5px;
    border-radius: 10px;
    width: 180px;    
}

input:focus {
    background-color: rgba(195, 69, 52, 0.541);
    padding: 8px;
}

legend {
    font-weight: bolder;
}

#idDataNascimentoAluno {
    width: fit-content;
}

.clSexoAluno{
    width: auto;
}

.clBotoes {
    text-align: center;
    margin: 10px;
}
.clBotoes button {
    width: fit-content;
    height: 30px;
    border-radius: 5px;
}

.clBotoes:focus {
    background-color: rgba(195, 69, 52, 0.541);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}